body {
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 1.75rem !important;
  font-weight: 700 !important;
}

h2 {
  font-size: 1.55rem !important;
  font-weight: 700 !important;
}

h3 {
  font-size: 1.35rem !important;
  font-weight: 700 !important;
}

h4, .card > .content > .header {
  font-size: 1.15rem !important;
  font-weight: 500 !important;
}

h5 {
  font-size: 0.95rem !important;
  font-weight: 500 !important;
}

h6 {
  font-size: 0.75rem !important;
  font-weight: 500 !important;
}

h1, h2, h3 {
  padding: 0 !important;
  margin: 0.25rem 0 !important;
}

h4, h5, h6 {
  padding: 0 !important;
  margin: 0.25rem 0 !important;
}

.row-between {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.row-around {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.row-start {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.row-center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.click-cursor {
  cursor: pointer;
}

.info-cursor {
  cursor: help;
}

#root .ui.label > .icon {
  margin: 0;
}

#root button {
  font-size: 12px;
}

#root .header > .icon {
  font-size: 18px;
}