body {
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

h4, h5, h6 {
  font-weight: 500 !important;
  padding: 0 !important;
  margin: 0.25rem 0 !important;
}

.row-between {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.row-around {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.row-start {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.column-center {
  display: column;
  flex-direction: column;
  align-items: center;
}

.click-cursor {
  cursor: pointer;
}

.info-cursor {
  cursor: help;
}