<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{{{title}}}</title>
	</head>
	<body>
		<table>
			<tr>
				<td style="font-size: 26px; font-weight: bold;">
					{{{content}}}
				</td>
			</tr>
			<tr>
				<td style="font-size: 26px; padding-top: 20px; padding-bottom: 20px;">
					{{{desc}}}
				</td>
			</tr>
			<tr>
				<td>
					<a href="{{{link}}}" style="text-decoration: none; background-color: teal;color: white; padding: 5px 10px; font-size: 20px; border-radius: 4px;">
						{{{buttonTitle}}}
					</a>
				</td>
			</tr>
		</table>
	</body>
</html>