DB_USER=test
DB_PASS=123
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=melody

CACHE_HOST=127.0.0.1
CACHE_PORT=6379
CACHE_PASSWORD=123

LOCAL_CACHE_HOST=127.0.0.1
LOCAL_CACHE_PORT=6379
LOCAL_CACHE_PASSWORD=123

SERVER_PORT=3100
SERVER_HOST=127.0.0.1
SERVER_TYPE=http

ACCESS_TOKEN_SECRET=123
REFRESH_TOKEN_SECRET=234
DATA_KEY_SECRET=345

CLIENT_HOST=127.0.0.1:3099
CLIENT_TYPE=http

EMAIL_SENDER=valuemelody@outlook.com
EMAIL_HOST=smtp-mail.outlook.com
EMAIL_PORT=587
EMAIL_PASS=123
EMAIL_BATCH_SIZE=30

PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com/v2
PAYPAL_CLIENT_ID=AdV5sgSGr6O32TAxyw5RGw8qsA9fBrVuEUNz_sz5v5xgO8uKp6JlRUAboU28xUbhA27XWVT-qLXp-t_I
PAYPAL_CLIENT_SECRET=EDddcWVz-EvkPLbabQ4vopTVetdboHn2kiLZXw1DdpbIMBO6b1EETo6du8LT7UfEQ7zrVOkfpAuetcQn
